body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #56525c;
  color: #000000;
}
/* Global */
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.image_container {
  display: inline-block;
  width: 33%;
}

/* Header */
header {
  background: #0e0917;
  color: #56525c;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #56525c 4px solid;
}

 header a{
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px;
 }

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #HeadBranding{
  float: left;
}

header #HeadBranding h1{
  margin:  0;
}

header nav{
  float: right;
  margin-top:  10px;

}

header .highlight , header .current a{
  color: #56525c;
  font-weight: bold;
 }

 header a:hover{
   color: #ffffff;
   font-weight: bold;
 }

 #showcase{
   min-height: 400px;
   background:url('showcase.jpg') no-repeat 0 -400px;
   text-align: center;
   padding: 13px;
   margin-top: 20px;
   margin: 0 auto;
   color: #000000;
 }

 #styleboxes{
  width: 76%;
  margin-top: 15px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
 }

 #styleboxes .box{
   text-align: center;
   padding: 10px;
   margin-top: 20px;
   margin: 0 auto;
 }

 #styleboxes .box img{
   width: 125px;
   margin: 0 auto;
 }

footer{
  border-top: #56525c 4px solid;
  padding: 10px;
  margin-top: 70px;
  color: #56525c;
  min-height: 77px;
  background-color: #0e0917;
  text-align: center;
}
